<table class="table">
    <thead>
        <h3>LISTA DE CIGARRILOS</h3>
        <tr>
            <th>IMAGEN</th>
            <th>CIGARRILLO</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>CANTIDAD</th>
            <th>COMPRA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cigarette of cigarettes" [ngClass] = "{'offer': cigarette.offer}">
            <td><img width = "100" class="img-thumbnail" [src]= "cigarette.image" [alt]= "cigarette.name"></td>
            <td>{{cigarette.name}}</td>
            <td>{{cigarette.price | currency}}</td>
            <td><span class="badge badge-danger" *ngIf = "cigarette.stock == 0">Sin Stock</span></td>
            <td>
                <app-input-integer [(quantity)] = "cigarette.quantity" [max] = "cigarette.stock" *ngIf = "cigarette.stock"></app-input-integer>
            </td>
            <td><button class="btn btn-primary" (click) = "addToCart(cigarette)">Comprar</button></td>
        </tr>
    </tbody>        
</table>

